nav{
    background-color: #7c898b;
    margin-bottom: 2em;
    font-family: 'Lora', serif;
    font-size: 16px;
    line-height: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    width: 16.3%; 
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li:hover{
    cursor: pointer;
}